body {
    background-image: url(trainstation.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#welcome {
    position: absolute;
    background-color: rgb(14, 13, 13);
    color: white;
    font-size: 50px;
    padding: 12px;
    text-align: center;
    margin-left: 18%;
    border: none;
    border-radius: 10px;
    
}

#people {
    position: absolute;
    font-size: 40px;
    left: 550px;
    top: 215px;
}

#count_el {
    position: absolute;
    font-size: 40px;
    color: azure;
    text-align: center;

    left: 750px;
    top: 210px;
}

#increment_btn {
    position: absolute;
    background-color: brown;
    width: 250px;
    color: black;

    top: 350px;


    font-size: 30px;
    font-weight: bold;
    padding-top: 3px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    left: 646px;
    cursor: pointer;
}

#increment_btn:hover{
    background-color: aqua;
}

#save_btn {
    position: absolute;
    background-color: green;
    width: 250px;
    color: black;
    font-size: 30px;
    font-weight: bold;

    top: 410px;

    padding-top: 3px;
    border: none;
    border-radius: 5px;
    margin-left: 41.5%;
    cursor: pointer;
}
#save_btn:hover{
    background-color: aqua;
}

#save_el{
    position: absolute;
    background-color: rgb(11, 11, 10);
    color: white;
    font-style: initial;
    font-size: 50px;
    padding-left: 15px;
    padding-bottom: 10px;

    top: 500px;   
    

    width: 700px;
    left: 22%;
    right: 21%;
    text-align: start;
    border: none;
    border-radius: 7px;
    margin-bottom: 10px;
}


@media screen and (min-width: 100px) and (max-width: 414px){
    body {
        background-image: url(trainstation.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    #welcome{

    }

    #people {
        position: absolute;
        background-color: whitesmoke;
        width: 160px;
        font-size: 28px;
        margin-left: -93px;
        top: 340px;
        color: black;
        padding-left: 10px;

        border: none;
        border-radius: 7px;
    }

    #count_el {
        position: absolute;
        font-size: 40px;
        color: azure;
        text-align: center;

        margin-left: -85px;
        top: 210px;
    }

    #increment_btn {
        position: absolute;
        background-color: brown;
        width: 250px;
        color: black;

        top: 350px;


        font-size: 25px;
        font-weight: bold;
        padding-top: 3px;
        border: none;
        border-radius: 5px;
        margin-bottom: 10px;
        margin-left: -86px;
        cursor: pointer;
    }


    #save_btn {
        position: absolute;
        background-color: green;
        width: 250px;
        color: black;
        font-size: 25px;
        font-weight: bold;

        top: 410px;

        padding-top: 3px;
        border: none;
        border-radius: 5px;
        margin-left: 61.5%;
        cursor: pointer;
    }


    #save_el{
        position: absolute;
        background-color: rgb(11, 11, 10);
        color: white;
        font-style: initial;
        font-size: 20px;
        padding-left: 15px;
        padding-bottom: 10px;

        top: 500px;


        width: 100px;
        height: 25px;
        margin-left: -80px;
        right: 21%;
        text-align: start;
        border: none;
        border-radius: 7px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 767px) {
    body {
        background-image: url(trainstation.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    #welcome {
        position: absolute;
        background-color: white;
        color: black;
        top: 120px;
        left: -98px;
        font-size: 25px;
        padding: 12px;
        text-align: center;
        border: none;
        border-radius: 8px;
        
    }

    #people {
        position: absolute;
        background-color: whitesmoke;
        width: 160px;
        font-size: 28px;
        left: 190px;
        top: 340px;
        color: black;
        padding-left: 10px;

        border: none;
        border-radius: 7px;
    }

    #count_el {
        position: absolute;
        font-size: 28px;
        color: black;
        text-align: center;
    
        left: 333px;
        top: 337px;
    }

    #increment_btn {
        position: absolute;
        background-color: brown;
        width: 220px;
        color: black;
    
        top: 460px;
    
    
        font-size: 25px;
        font-weight: bold;
        padding-top: 3px;
        border: none;
        border-radius: 5px;
        margin-bottom: 10px;
        left: 160px;
        cursor: pointer;
    }

    #save_btn {
        position: absolute;
        background-color: green;
        width: 220px;
        color: black;
        font-size: 25px;
        font-weight: bold;
    
        top: 500px;
    
        padding-top: 3px;
        border: none;
        border-radius: 5px;
        left: -158px;
        cursor: pointer;
    }

    #save_el{
        position: absolute;
        background-color: white;
        color: black;
        font-style: initial;
        font-size: 23px;
        padding-left: 15px;
        padding-bottom: 10px;
    
        top: 600px;   
        
    
        width: 350px;
        left: 85px;
        right: 19%;
        text-align: start;
        border: none;
        border-radius: 7px;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        background-image: url(trainstation.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    #welcome {
        position: absolute;
        background-color: rgb(44, 211, 47);
        color: white;
        font-size: 35px;

        top: 100px;

        padding: 13px;
        text-align: center;
        margin-left: 3%;
        border: none;
        border-radius: 7px;
    
    }

    #people {
        position: absolute;
        font-size: 40px;
        left: 240px;
        top: 340px;
        color: white;
    }

    #count_el {
        position: absolute;
        font-size: 45px;
        color: white;
        text-align: center;
    
        left: 430px;
        top: 330px;
    }

    #increment_btn {
        position: absolute;
        background-color: brown;
        width: 250px;
        color: black;

        top: 450px;


        font-size: 30px;
        font-weight: bold;
        padding-top: 3px;
        border: none;
        border-radius: 5px;
        margin-bottom: 10px;
        left: 22%;
        cursor: pointer;
    }

    #save_btn {
        position: absolute;
        background-color: green;
        width: 250px;
        color: black;
        font-size: 30px;
        font-weight: bold;
    
        top: 510px;
    
        padding-top: 3px;
        border: none;
        border-radius: 5px;
        left: -19.5%;
        cursor: pointer;
    }

    #save_el{
        position: absolute;
        background-color: rgb(80, 220, 11);
        color: white;
        font-style: initial;
        font-size: 28px;
        padding-left: 15px;
        padding-bottom: 10px;
    
        top: 650px;   
        
    
        width: 500px;
        margin-left: -12%;
        margin-right: 19%;
        text-align: start;
        border: none;
        border-radius: 7px;
        margin-bottom: 8px;
    }
    
    
}
